.header__base {
    position: relative;
    background: #fff;
    z-index: 10;
    transform: translateZ(0);
    border-bottom: 1px solid #f0f0f0;
}

.header__content {
    margin: 0 auto;
    display: flex;
}

.header__title {
    margin: 0;
}

.header__logoLink {
    position: relative;
    display: flex;
    align-items: center;
    overflow: visible;
}

.header__logoLink:focus::before {
    content: '';
    position: absolute;
    inset: 4px;
    border: 1px dotted black;
}

.header__logoImage {
    pointer-events: none;
    image-rendering: pixelated;
    transition: transform ease-in 0.125s;
}

.header__logoLink:hover .header__logoImage {
    image-rendering: auto;
    transform: scale(1.1);
}

.header__logoImage.above-xs {
    margin-right: 16px;
}

.header__logoText {
    position: absolute;
    font-size: 8px;
    top: 8px;
    left: 50%;
    transform: translate(-50%, 0);
}

.header__logoText.above-xs {
    position: static;
    font-size: inherit;
    transform: none;
}

.header__state {
    flex: 1 0 auto;
    margin: 0;
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: flex-end;
    overflow: hidden;
    box-shadow: inset -1px 0 0 0 #fff, inset 1px 0 0 0 #f0f0f0, inset 0 0 0 1px #fff;
    background:
        repeating-linear-gradient(
            45deg,
            transparent,
            transparent 4px,
            #f0f0f0 4px,
            #f0f0f0 5px
        );
}

.header__prop {
    position: relative;
    align-items: baseline;
    flex: 0 1 auto;
    display: flex;
    box-sizing: border-box;
    padding: 28px 8px 8px;
    overflow: hidden;
    max-width: 192px;
    border-left: 1px solid #f0f0f0;
    background: #fff;
}

.header__icon {
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 10px;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.header__icon.above-sm {
    position: static;
    padding: 0 16px 0 8px;
    font-size: 16px;
    width: 20px;
}

.header__icon.above-sm::after {
    display: none;
}

.header__icon::after {
    content: attr(aria-label);
    margin-left: 4px;
    font-size: 8px;
}

.header__value {
    flex: 1 0 auto;
    background: #f0f0f0;
    border-radius: 2px;
    padding: 8px;
    font-size: 12px;
}
